
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  height: 80px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;
  
  
}
nav .logo{
  font-family: "Anton", sans-serif;
  font-size: 33px;
  color:#fff;
  font-weight: bolder;
  letter-spacing: 5px;
}
nav .logo:hover{
  color: black;
  transition:0.5s ease-in-out;
}
nav ul{
  display: flex;
  list-style-type:none;
 
}
nav ul li{
  margin: 0px 20px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 25px;
  color: #fff;
  font-family: "Madimi One", sans-serif;

}
/*nav ul li span{
  margin-right: 80px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
align-items: center;
margin-top: 20px;

}*/
nav ul li a{
  text-decoration: none;
  color: white;
  padding:8px 10px;
  border-radius: 5px;
  font-family: "Madimi One", sans-serif;

}
nav ul li:hover{
  color: black;
  transition:0.5s ease-in-out;
}
nav .menu-btn span{
  color:#fff;
  cursor: pointer;
  font-size: 27px;
  display: none;
}
#click:checked ~ul{
  left:0%;
}
#click{
  display: none;
}


@media (max-width:800px){
#click{
  display: none;
}
nav .menu-btn span{
  display: block;

}

/* is query ko x ka icon ky liy use kya gya ha. f00d X ka shortcut ha  */
#click:checked ~.menu-btn span:before{
 /*content: '\f00d';
 content: "\00d7";*/
}
nav ul{
  position: absolute;
  top:80px;
  left:-100%;
  background: red;
  height: 500px;
  width: 100%;
  display: block;
  text-align: center;
  transition: all 1s ease;
  z-index: 10000;
  
}

nav ul li {
  margin-top:40px;
  margin-right: 0;
}
nav ul li a{
  font-size: 22px;
}
}
div.midd{
  width: 100%;
  height: 80vh;
background: lavender;
}
div.midd h1:hover{
  color:rgba(255, 0, 0, 0.5) !important;
}

div.midd a{
  background: #54B4D3;
font-weight: bold;
color: white;
margin-left: 10px;
}
div.midd a:hover{
  background: none;
border: none;
}
div.midd p{
  margin-left: 420px;
}